### Build & Runtime ###
target/
*.class
*.jar
*.war
*.ear
*.log
.sts4-cache
build/

### Maven ###
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE - IntelliJ ###
.idea/
*.iml
*.iws
*.ipr
out/

### IDE - VS Code ###
# Bỏ chặn .vscode để team dùng chung cấu hình launch.json đọc file .env
# .vscode/ 

### IDE - Eclipse/STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans

### OS ###
.DS_Store
Thumbs.db

### SECURITY (QUAN TRỌNG) ###
.env
*.json
!Security_Demo_Collection.postman_collection.json
!pom.xml